@import "reset";


body{
    background-color: royalblue;
    text-align: center;
    color: white;
    h1 {
        font-size: 46px;
        text-transform: uppercase;
        padding: 2rem;
    }
    input {
        border: 1px solid white;
        padding: 0.8rem;
        background-color: royalblue;
        width: 300px;
        color: white;
        font-weight: 600;
        font-size: 12px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item {
        background-color: white;
        padding: 0.8rem;
        margin: 0.5rem;
        color: royalblue;
        font-weight: 600;
        width: 300px;
        cursor: move;
        text-align: left;
        span {
            visibility: hidden;
            font-size: 0.6rem;
            float: right;
        }
        &:hover{
            span {
                visibility: visible;
            }
        }
    }
    .item.over {
        width: 330px;
      }
}

